<div class="register-container">
    <h2>Create an Account</h2>
    <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" ngModel required>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel required >
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="confirmPassword" ngModel required>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" >Register</button>
    </form>
  </div>
  